---

---


<div class="inner-fabs">
  <div class="fab round" id="fab4" data-tooltip="Create">
    <i class="material-icons">create</i>
  </div>
  <div class="fab round" id="fab3" data-tooltip="Move to inbox">
    <i class="material-icons">move_to_inbox</i>
  </div>
  <div class="fab round" id="fab2" data-tooltip="Send">
    <i class="material-icons">send</i>
  </div>
</div>
<div class="fab round" id="fab1">
  <i class="material-icons" id="fabIcon">add</i>
</div>


<style>
  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

  html,
  body {
    width: 100%;
    heigth: 100vh;
    /*background-color: #3f51b5;*/
  }

  .round {
    border-radius: 50%;
  }

  .fab {
    position: fixed;
    bottom: 15px;
    right: 30px;
    z-index: 999;

    transition: all 300ms ease-in-out;
    width: 56px;
    height: 56px;
    background-color: #ff4081;
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    /*right: 30px;*/
    /*bottom: 15px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: white;
    font-size: 2em;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16),
      0px 3px 10px rgba(0, 0, 0, 0.16);
  }

  .fab i {
    transition: all 300ms ease-in-out;
    will-change: transform;
  }

  .inner-fabs .fab {
    width: 45px;
    height: 45px;
    right: 35px;
    bottom: 23px;
    font-size: 1.5em;
    will-change: bottom;
  }

  .inner-fabs.show .fab:nth-child(1) {
    bottom: 80px;
    background-color: #6940ff;
  }

  .inner-fabs.show .fab:nth-child(2) {
    bottom: 130px;
    background-color: #40ff63;
  }

  .inner-fabs.show .fab:nth-child(3) {
    bottom: 180px;
    background-color: #ff7c40;
  }

  .inner-fabs.show .fab:nth-child(4) {
    bottom: 230px;
  }

  .inner-fabs.show .fab:nth-child(5) {
    bottom: 280px;
  }

  .inner-fabs.show .fab:nth-child(6) {
    bottom: 330px;
  }

  .inner-fabs.show + .fab i {
    transform: rotate(135deg);
  }

  .fab:before {
    content: attr(data-tooltip);
    transition: opacity 150ms cubic-bezier(0.4, 0, 1, 1);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #ececec;
    right: 50px;
    top: 25%;
    background-color: rgba(70, 70, 70, 0.9);
    font-size: 0.5em;
    line-height: 1em;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
    padding: 6px 8px;
    max-width: 200px;
    font-weight: bold;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  .inner-fabs.show .fab:hover:before {
    content: attr(data-tooltip);
    visibility: visible;
    opacity: 1;
  }
</style>


<script is:inline>
  let fab1 = document.getElementById("fab1");
  let innerFabs = document.getElementsByClassName("inner-fabs")[0];

  fab1.addEventListener("click", function () {
    innerFabs.classList.toggle("show");
  });

  document.addEventListener("click", function (e) {
    switch (e.target.id) {
      case "fab1":
        break;
      case "fab2":
        break;
      case "fab3":
        break;
      case "fab4":
        break;
      case "fabIcon":
        break;
      default:
        innerFabs.classList.remove("show");
        break;
    }
  });
</script>
